[submodule "Yeastem/Dependancies/ImGui"]
	path = Yeastem/Dependancies/ImGui
	url = https://github.com/Imemyselfitb/ImGui.git
	branch = master
[submodule "Yeastem/Dependancies/SDL3"]
	path = Yeastem/Dependancies/SDL3
	url = https://github.com/Imemyselfitb/SDL3.git
[submodule "Yeastem/Dependancies/glm"]
	path = Yeastem/Dependancies/glm
	url = https://github.com/Imemyselfitb/glm.git
